<ul class="nav">
    <li class="nav-item">
        <a class="nav-link active" href="/">index</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/customer">customer</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">page</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
    </li>
</ul>