<!doctype html>
<html lang="en">
<% include ./partials/header.ejs %>
<title>index</title>
<body>
<% include ./partials/nav.ejs %>
<div class="container">
    <h1>index</h1>
    <h2>dogdffdddd</h2>
    <img src="/images/test.jpg" alt="dog">
</div>
</body>
</html>