h1{
    font-size: 20px;
    color:red;
}

.login-bottom{

    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;/*取水平center*/
    align-items: center;/*取垂直center*/
}

.login-card {
    width: 30%;
}